<%- include('partials/header.ejs') %>


<form class="mx-3" action="/" method="POST" >
  <h2 style="text-align: center;">Create Post</h2>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Title</label>
    <input name="title" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Text</label>
    <input name="text" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button  class="btn btn-primary" ><a href="/">Home</a></button>
  
</form>


        <!-- Footer-->
        <%- include('partials/footer.ejs') %>
